*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color: #00B11C;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
}

header{
}
header h1{
    float: left;
    padding: 15px 0;
    color: #00B11C;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #00B11C;
    color: #fff;
}
.active{
    background-color: #00B11C;
    color: #fff;
}
.conten{
    text-align: center;
}
.conten img{
    width: 700px;
    height: 400px;
}

.search {
    margin-left: 40%;
    padding-top: 6%;
    margin-bottom: 1%;
}

p {
    text-align: left;
    margin-left: 14%;
    width: 900px;
}